@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

$colorMedio: hsla(52, 90%, 16%, 0.903);
$colorClaro: hsla(52, 82%, 70%, 0.8);
$colorOscuro: hsla(52, 91%, 8%, 0.903);

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.contenedorGrid {
    display: grid;
    grid-template-areas: "header"
                        " jumbotron"
                        " main"
                        " footer";
}
.header{
    grid-area: header;
}
.jumbotron{
    grid-area: jumbotron;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}

/* HEADER */
header {
    background-color: hsla(52, 89%, 24%, 0.903);
    font-size: 25px;
}

.navColor{
    color: $colorClaro !important;
}

.navColor:hover{
    color: $colorOscuro !important;
}

.jumbotron{
    background-image: url(imagenes/fondo1.jpg);
    background-size: cover;
    background-position: center;
    max-height: 200px;
    width: 100%;
    color: $colorMedio;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 1px hsla(52, 58%, 85%, 0.792);
}

/* INDEX */
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

main {
    @include sizes(auto, 100%);
}

.tituloConocenosBs{
    text-align: center;
    background-color: $colorClaro;
    color: $colorOscuro;
    padding: 10px;
    background-image: linear-gradient(to top right, $colorOscuro, $colorClaro, rgb(240, 240, 90));
}

.conocenosBs{
    width: 100%;
    background-color: $colorOscuro;
    margin-bottom: 20px;

    .rowConocenos{
        min-height: 500px;

        .cleft{
            background-image: url(imagenes/quienesSomos.jpg);
            min-height: 300px;
            background-size: auto;
            background-position: 30% 30%;
        }
        .cright{
            background-color: #fff;
            padding: 15px;

            h3{
                text-align: center;
            }
            p{
                text-align: justify;
                padding: 10px 50px 0px 50px;
            }
            a{
                text-decoration: none;

                input{
                    color: $colorMedio;
                    background: transparent;
                    border: 2px solid $colorMedio;
                    border-radius: 6px;
                    padding: 6px 2px;
                    cursor: pointer;
                    margin: 10px 0px 0px 50px;
                }
                input:hover{
                    background-color: $colorMedio;
                    color: $colorClaro;
                }
            }
        }
    }
}

.servicios {
    margin: 30px 0px 30px 10px;

    .imagenesServiciosIndex{
        text-align: center;

        img{
            transition: all 0.5s;
            margin-bottom: 10px;
        }
        img:hover{
            transform: scale(1.20);
        }
    }
}

.seccionBoton {
    text-align: center;
    margin-bottom: 35px;

    .linkServicios {
        text-decoration: none;

        .botonServicios {
            color: $colorMedio;
            background: transparent;
            border: 2px solid $colorMedio;
            border-radius: 6px;
            padding: 6px 2px;
            display: inline;
            cursor: pointer;
            }
        .botonServicios:hover {
            background-color: $colorMedio;
            color: $colorClaro;
        }
    }
}

/* FOOTER */
footer {
    width: 100%;
    background-color: hsla(52, 89%, 24%, 0.903);
    color:$colorClaro;
    font-size: 10px;

    h3 {
        margin-top: 6px;
        font-size: 20px;
    }
    i {
        color: $colorClaro;
        font-size: 16px;
        letter-spacing: 5px;
    }
    .facebook{
        color: rgb(58, 58, 250);
    }
    .instagram{
        color: rgb(249, 71, 101);
    }
    .twitter{
        color: rgb(136, 201, 239);
    }

    .horariosAtencion p{
        margin-bottom: 0;
    }

    .copyright {
        text-align: center;
        font-size: 11px;
        margin-top: 10px;
    }
}

.subir {
    @include sizes(40px, 40px);
    background-color: $colorOscuro;
    position: fixed;
    bottom: 19px;
    right: 15px;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    border-radius: 50%;
    border: 5px solid $colorClaro;
    color: $colorClaro;
    box-shadow: 0 0 10px $colorOscuro;
}

/* NOVEDADES */
.ultimasNovedades {
    display: inline-block;
    margin: 35px 50px 35px 50px;
    color: $colorOscuro;

    form{
        margin: 20px 0px;
    }
        .botonNovedades {
            color: $colorMedio;
            background: transparent;
            border: 2px solid $colorMedio;
            border-radius: 6px;
            padding: 6px 2px;
            display: inline;
            cursor: pointer;
        }
        .botonNovedades:hover {
            background-color: $colorMedio;
            color: $colorClaro;
        }

    article{
        margin: 50px 0px;
    }

    .preguntasFrecuentes ul {
        list-style: none;
        margin-top: 35px;

        a{
            text-decoration: none;
            color: $colorOscuro;
        }
    }
}
.enlacesInteres {
    margin: 20px 35px 35px 35px;
    text-align: center;
    color: $colorOscuro;

    h3 {
        margin-bottom: 15px;
        border: groove 5px $colorClaro;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: $colorOscuro;
        display: block;
    }
}

/* NOSOTROS y SERVICIOS */
.sec{
    width: 100vw;
    margin-bottom: 50px;
}
.carrusel{
    background-color:hsla(52, 82%, 70%, 0.562);
}
.nosotros, .principalesServicios {
    color: $colorOscuro;
    text-align: justify;
}

$mapa: (
    10px: brown,
    50px: khaki
);

@each $margin, $color in $mapa {
    .color-#{""+$color} {
        border: 7px inset $color;
        min-height: 300px - $margin;
        padding: 10px;
    }
}

$estilos: (
    margen: 10px,
    arriba: 50px,
    centro: center,
    magnitud: 20px,
);

.nosotros{
    width: 100vw;

    .nosotrosSection {
        margin: 35px 50px 70px 50px;

        .nosotrosTitulo {
            margin-left: 40px;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .historia{
            margin-left: map-get($map: $estilos, $key: margen);
            margin-top: map-get($map: $estilos, $key: arriba);
            margin-right: map-get($map: $estilos, $key: margen);
            text-align: map-get($map: $estilos, $key:centro);
            font-size: map-get($map: $estilos, $key: magnitud);
        }

        .nombresNosotros {
            margin-bottom: 25px;
        
            h3{
                margin-bottom: 15px;
            }
        }
    }
}

.contenedorImagenes{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "derechofamilia"
                        " derechocivil"
                        " derecholaboral"
                        " mediacionprejudicial"
                        " derechoconsumidor";

    .familia{
        grid-area: derechofamilia;
    }
    .civil{
        grid-area: derechocivil;
    }
    .laboral{
        grid-area: derecholaboral;
    }
    .prejudicial{
        grid-area: mediacionprejudicial;
    }
    .consumidor{
        grid-area: derechoconsumidor;
    }

    .imagen{
        position: relative;
        margin-bottom: 5px;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,.75);
        margin: 15px;
        border-radius: 10px;
    
        img{
            @include sizes(100%, 100%);
            object-fit: cover;
            border-radius: 10px;
        }
    
        .descServicios{
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: hsla(52, 90%, 16%, 0.8);
            color: hsla(52, 82%, 70%);
            font-size: 13px;
            @include sizes(100%, 0);
            transition: 1s ease;
            overflow: hidden;

            h2{
                font-size: 20px;
                font-weight: bold;
                margin: 5px;
                text-align: center;
            }
            
            p{
                margin: 15px;
                text-align: center;
            }
        }
    }
}
.imagen:hover .descServicios{
    height: 100%;
}

/* CONTACTO */
.contactanos {
    margin: 35px;
    color: $colorOscuro;

    .focus:focus {
        background: hsla(50, 14%, 91%, 0.919);
    }
    form .boton {
        color: $colorMedio;
        background: transparent;
        border: 2px solid $colorMedio;
        border-radius: 6px;
        padding: 6px 2px;
        display: inline;
        cursor: pointer;
        margin: 20px;
    }
    .form-control, .form-select{
        width: auto;
    }
    form .boton:hover {
        background-color: $colorMedio;
        color: $colorClaro;
    }
}

/* EN .VIASCONTACTO NO SE COMO HACER PARA QUE EL EXTEND SOLO APLIQUE A PROPIEDADES DEL .CONTACTANOS (padre) Y NO AL RESTO DE LAS CLASES DENTRO (los hijos) DEL .CONTACTANOS (ESTARIA BIEN APLICAR EL EXTEND O SERIA MEJOR COPIAR Y PEGAR ESAS PROPIEDADES QUE QUIERO Y LISTO?)  */
.viasContacto {
    @extend .contactanos;

    ul {
        list-style: none;

        li{
            padding: 5px;
        }
        iframe{
            margin-top: 25px;
            width: auto;
            height: 300px;
        }
    }
}
.tituloContactanos{
    font-size: 40px;
}
.whatsappIcon{
    @include sizes(55px, 55px);
    background-color: rgb(14, 192, 14);
    position: fixed;
    bottom: 19px;
    right: 15px;
    text-align: center;
    line-height: 55px;
    font-size: 40px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px $colorOscuro;
    cursor: pointer;
}

@media only screen and (min-width:500px){
    /* SERVICIOS */
    .contenedorImagenes{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 300px);
        justify-content: space-evenly;

        .familia{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .civil{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .laboral{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .prejudicial{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .consumidor{
            grid-column: 1/3;
            grid-row: 3/4;
        }
    }
    .descServicios{
        font-size: 15px;
    }
    /* FOOTER */
    .horariosAtencion p {
        font-size: 13px;
    }
    .contacto p{
        font-size: 13px;
    }
    footer i{
        font-size: 20px;
    }
    .copyright{
        font-size: 11px;
    }
}

@media only screen and (min-width:768px){
    /*NOSOTROS*/
    $mapa: (
    100px: brown,
    500px: khaki
    );
    @each $margin, $color in $mapa {
        .color-#{""+$color} {
            margin-left: calc($margin / 2);
            border: 7px inset $color;
            min-height: 300px - $margin;
            padding: 10px;
        }
    }
}

@media only screen and (min-width:1024px){
    .jumbotron{
        font-size: 20px;
    }
    footer {
        font-size: 16px;

        i {
            font-size: 30px;
            letter-spacing: 5px;
        }
        .horariosAtencion p, .contacto p {
            font-size: 15px;
        }
        .copyright {
            font-size: 11px;
        }
    }

    /* SERVICIOS */
    .contenedorImagenes{
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 350px);
        justify-content: space-evenly;

        .familia{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .civil{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .laboral{
            grid-column: 3/4;
            grid-row: 1/2;
        }
        .prejudicial{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .consumidor{
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .descServicios{
            font-size: 15px;
        }
    }

    /*NOSOTROS*/
    $estilos: (
        margen: 250px,
        arriba: 50px,
        centro: center,
        magnitud: 20px,
    );

    .historia{
        margin-left: map-get($map: $estilos, $key: margen);
        margin-top: map-get($map: $estilos, $key: arriba);
        margin-right: map-get($map: $estilos, $key: margen);
        text-align: map-get($map: $estilos, $key:centro);
        font-size: map-get($map: $estilos, $key: magnitud);
    }

    /* NOVEDADES */
    .ultimasNovedades {
        display: inline-block;
        width: 60%;
        margin-left: 33px;
    }
    .enlacesInteres {
        margin: 35px 35px 0 0;
        float: right;
    }
}